
.NavAnimm{
    animation: spans 2s ;
    position: relative;
}
.NavAnim{
    animation: spanss 2s ;
    position: relative;
}
@keyframes spanss {
    from{
        transform: translateY(-100px);
    }
}

.contentAnimation>.content_1>.parent{
    animation: fromleft 2s  ;
    position: relative;
}
.contentAnimation>.content_1>.child{
    animation: fromRight 2s  ;
    position: relative;
}

.contentAnimation>.content_1>p{
    animation: fromleft 2.3s  ;
    position: relative;
}
.contentAnimation>.content_2{
    animation: fromDown 2.5s  ;
    position: relative;
}


@keyframes spans {
    0%,30%{
        opacity: 0;
    }
    60%{
        opacity: 0.5;
    }
    80%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fromUp {
    0%{
        top: -200px;
        opacity: 0.3;
    }
    30%{
        opacity: 0;
    }
    60%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fromDown {
    0%{
        bottom:  -200px;
        opacity: 0;
        animation-delay: 2s;
    }
    30%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.3;
    }
    60%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes fromleft {
    0%{
        left: -200px;
        opacity: 0;
    }
    30%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.3;
    }
    60%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        left: 0px;
        opacity: 1;
    }
}

@keyframes fromRight {
    0%{
        right: -200px;
        opacity: 0;
    }
    30%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.3;
    }
    60%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        right: 0px;
        opacity: 1;
    }
}




